@model ShoppingCartViewModel
<form method="post">
	<div class="card mt-4">
		<div class="row card-header bg-dark text-white d-flex">
			<div class="col-8">
				<div class="align-middle" style="margin-top:10px">
					<span>Shopping Cart</span>
				</div>
			</div>
			<div class="col-4 text-end">
				<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-info">Go To Shopping</a>
			</div>
		</div>

		<div class="card-body">
			@foreach (var item in Model.ShoppingCarts)
			{
				<div class="rounded-3 mb-4 p-4">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-md-2">
							<img src="@item.Product?.ImageUrl"
							 class="img-fluid rounded-3" alt="Cotton T-shirt">
						</div>
						<div class="col-md-4">
							<p class="lead fw-normal mb-2">@item.Product.Title</p>
							<p><span class="text-muted">@Html.Raw(item.Product.Description)</span></p>
						</div>
						<div class="col-md-3 col-sm-2 d-flex">
							<a asp-action="Plus" asp-route-cartId="@item.Id">
								<i class="btn btn-primary bi bi-bag-plus"></i>
							</a>

							<input id="form1" min="0" name="quantity" value="@item.Count" type="number" class="form-control text-center" />

							<a asp-action="Minus" asp-route-cartId="@item.Id">
								<i class="btn btn-info bi-calendar2-minus-fill"></i>
							</a>
						</div>
						<div class="col-md-2">
							<h5 class="mb-0">
								<strong>
									@item.ProductPrice.ToString("c")
									<span class="text-muted"> &nbsp; X &nbsp; </span>
									@item.Count
								</strong>
							</h5>
						</div>
						<div class="col-md-1 col-sm-1 text-end">
							<a asp-action="Remove" asp-route-cartId="@item.Id" class="text-danger">
								<i class="btn btn-danger bi bi-trash"></i>
							</a>
						</div>
					</div>
				</div>
				<hr />
			}

			<div class="row pb-4">
				<div class="col-12 col-md-6 offset-md-6">
					<ul class="list-group">
						<li class="list-group-item">
							<span class="text-info"> Total (USD)</span>
							<strong class="text-info float-end">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<div class="card-footer">
			<div class="row">
				<a asp-controller="Cart" asp-action="Summary" type="button" class="btn btn-info text-uppercase">summary</a>
			</div>
		</div>
	</div>
</form>
